* {
   margin: 0;
   padding: 0;
}

body {
   background: rgb(225, 223, 223);
}

.events-container {
   display: grid;
   grid-template-columns: repeat(auto-fill, 300px);
   justify-content: space-around;
   grid-gap: 30px;
   padding: 20px;
}

.link {
   font-size: 0.9rem !important;
   cursor: pointer;
}
